<style>
	.popover {
		max-width: 350px;
	}
	.popover-content {
		width: 350px;
	}
</style>
<div class="row">
	<div class="col-sm-10" >
		<p class="input-group">	
		<span class="input-group-btn">		
		<select ng-model="student.document" ng-options="o.name for o in documents" required name="document" class="form-control" ></select>
		<input type="file" id="file2"/>
		<button ng-click="documentUpload()" type="button" ng-disabled="myForm.document.$error.required" class="btn btn-primary" >Upload</button>
		</span>
		</p>	
	</div>
	<div class="col-sm-2">
	</div>
</div>

