 <style type="text/css">

    #printable { display: none; }

    @media print
    {
        #non-printable { display: none; }
        #printable { display: block; }
    }
    </style>
<div class="panel panel-primary dontprint" id="non-printable">
	<div class="panel-heading"> <p class="panel-title" align="Center"> Deemtek Pharmacy Software  </p> </div>
</div>
<div align="center" id="non-printable">
	<a href="http://www.deemtek.com">
		<img src="/pharmacysoft/static/images/deemsoft/deemteklogo1.png" class="img-rounded" alt="Deemsoft Pharmacy Software Logo">
	</a>
</div>
<br>

</body>
</html>