<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />  
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Deemsoft Pharmacy Software</title>
<link rel="stylesheet" href="/pharmacysoft/static/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/pharmacysoft/static/css/bootstrap/bootstrap-theme.min.css">

<link rel="stylesheet" href="/pharmacysoft/static/css/bootstrap/ui-grid.min.css"></link>
<link rel="stylesheet" href="/pharmacysoft/static/css/bootstrap/select.min.css"></link>
<link rel="stylesheet" href="/pharmacysoft/static/css/deemsoft/navbar-custom.css"></link>
<link rel="stylesheet" href="/pharmacysoft/static/css/pharmacysoft/app.css"></link>


<script src="/pharmacysoft/static/js/angular/angular.min.js"></script>
<script src="/pharmacysoft/static/js/angular/angular-animate.min.js"></script>
<script src="/pharmacysoft/static/js/angular/angular-touch.min.js"></script>
<script src="/pharmacysoft/static/js/angular/angular-sanitize.min.js"></script>
<script src="/pharmacysoft/static/js/angular/angular-route.js"></script>
<script src="/pharmacysoft/static/js/angular/angular-resource.min.js"></script>
<script src="/pharmacysoft/static/js/angular/ui-bootstrap-tpls.min.js"></script>

<script src="/pharmacysoft/static/js/angular/ui-grid.min.js"></script>
<script src="/pharmacysoft/static/js/angular/select.min.js"></script>

<script src="/pharmacysoft/static/js/angular/ngfileupload.js"></script>
<script src="/pharmacysoft/static/js/angular/angular.flash.js"></script>
<script src="/pharmacysoft/static/js/angular/csv.js"></script>
<script src="/pharmacysoft/static/js/angular/pdfmake.js"></script>
<script src="/pharmacysoft/static/js/angular/vfs_fonts.js"></script>


<script src="/pharmacysoft/static/js/pharmacysoft/app.js"></script>
<script src="/pharmacysoft/static/js/pharmacysoft/headerController.js"></script> 

</head>
<body ng-app="pharmacysoft">
<div class="container-fluid">
<div ng-controller="headerController">
<div class="row" ng-show="showTitle" >
	

</div>
</div>
