<div ng-controller="Account_TransactionsController">
<form name="myForm"  novalidate>
<input type="hidden" id="csrf_token" name="${_csrf.parameterName}" value="${_csrf.token}" >
<input type="hidden" id="user__id" value="${userid}">
<br><div ng-show="showEditBlock" class="row">
<div class="col-sm-1"></div><div class="col-sm-10 well">
<div class="row"><div class="col-sm-8">accounts_id<input ng-model="Account_Transactions.accounts_id" class="form-control"></div></div><br>
<div class="row"><div class="col-sm-8">payments_id<input ng-model="Account_Transactions.payments_id" class="form-control"></div></div><br>
<div class="row"><div class="col-sm-8">expense<input ng-model="Account_Transactions.expense" class="form-control"></div></div><br>
<div class="row"><div class="col-sm-8">payment<input ng-model="Account_Transactions.payment" class="form-control"></div></div><br>
<div class="row"><div class="col-sm-8">balance<input ng-model="Account_Transactions.balance" class="form-control"></div></div><br>
<div class="col-sm-8"></div>
<div class="col-sm-3">
<button ng-click="addNewRecord()" class="btn btn-sm btn-warning">Cancel</button>
<button ng-click="saveEdits()" class="btn btn-sm btn-success">Save</button>
<button ng-click="cancelEdits()" class="btn btn-sm btn-warning">Cancel</button>
</div></div></div>
<div><br> List<br>
<div ui-grid='gridOptions'></div>
</div></form></div>
